# ITMGT 25.03 EE
# Assignment 3B

This is a data-cleaning assignment and is the second of two parts. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.

In addition, you have a new file called **studentprofiles.csv** which has first and last names plus the genders of the students.

The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called **cleanrecweekdata3b.csv** **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats3b.html**. The requirements for the summary statistics are described below. **(10 points)**

The outputs are similar to that of Assignment 3A, except that you will now use Pandas instead of Python lists.

This entire assignment (3B) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Monday, July 9, 2019** at 12:00NN.

Note: I understand you all need to review for LT 2. Think of this Assignment as practice. It's not meant to take you as long as 3A.

#### Bonus Points:
* +2 if submitted over (or before) the weekend (July 13-14)
* +2 if CSS and div tags are used (but please don't spend too much time on this because you still need to review for the Long Test)

In [2]:
import pandas as pd

df_rw = pd.read_csv("recweekdata.csv")
df_sp = pd.read_csv("studentprofiles.csv")

data = pd.merge(df_rw, df_sp)

In [133]:
import re

# clean birthyear
# two digit birth months should be placed first to avoid the data being registered as single digits
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"10|Oct$","October",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"11|Nov$", "November",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"12|Dec$","December",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"1|Jan$","January",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"2|Feb$","February",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"3|Mar$","March",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"4|Apr$","April",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"5","May",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"6|Jun$","June",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"7|Jul$","July",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"8|Aug$","August",regex=True)
data.loc[:,"birthmonth"]=data.loc[:,"birthmonth"].str.replace(r"9|Sep$","September",regex=True)

# clean birthyear
data.loc[:,"birthyear"] = data.loc[:,"birthyear"].apply(lambda x: re.sub(r"^(9[7-9])",r"19\1", str(x)))

# clean course
data.loc[:,"course"]=data.loc[:,"course"].str.replace(r"^Communications Technology|BS CTM|CTM", "BS Communications Technology Management",regex=True)
data.loc[:,"course"]=data.loc[:,"course"].str.replace(r"^Information Technology Entrepreneurship|BS ITE|ITE", "BS IT Entrepreneurship",regex=True)
data.loc[:,"course"]=data.loc[:,"course"].str.replace(r"^Management Engineering|BS ME|ME", "BS Management Engineering",regex=True)
data.loc[:,"course"]=data.loc[:,"course"].str.replace(r"^Management|BS MGT|MGT", "BS Management",regex=True)
data.loc[:,"course"]=data.loc[:,"course"].str.replace(r"^Legal Management|BS LM|LM", "BS Legal Management",regex=True)

# clean phonenumber
data.loc[:,"phonenumber"]=data.loc[:,"phonenumber"].str.replace(r"^9","+63 9",regex=True)

# include carrier
carrier = {"+63 917":"Globe","+63 918":"Smart", "+63 927":"Globe"}
data["carrier"] = data.loc[:,"phonenumber"].str[0:7].apply(lambda x: carrier[x])

# convert to cleanrecweekdata3b.csv
data.to_csv("cleanrecweekdata3b.csv", index=False)

# Required Summary Statistics

#### These were the questions from 3A:

1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

#### Additional Questions:
* How many Globe subscribers are: Male? Female?
* How many Smart subscribers are: Male? Female?

Answer these questions in an html file called **stats3b.html**. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):


```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
             <tr><td>Male Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Female Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Male Smart subscribers:</td><td>{}</td></tr>
             <tr><td>Female Smart subscribers:</td><td>{}</td></tr>
         </table>
    </body>
</html>
```

In [4]:
# Question: How many people were born in each month?
data.loc[:,["firstname","birthmonth"]].groupby(["birthmonth"])["firstname"].count()

birthmonth
April        267
August       241
December     276
February     232
January      270
July         249
June         259
March        246
May          273
November     277
October      178
September    232
Name: firstname, dtype: int64

In [5]:
# Question: How many people were born on each day?
data.loc[:,["firstname","birthday"]].groupby(["birthday"])["firstname"].count()

birthday
1     112
2     106
3      90
4     110
5     100
6      99
7      88
8     111
9      98
10    111
11    105
12     98
13    119
14    102
15    121
16    115
17    116
18    107
19    113
20     91
21    123
22    103
23    116
24    108
25    116
26    116
27    102
28    104
Name: firstname, dtype: int64

In [6]:
# Question: How many people were born in each year?
data.loc[:,["firstname","birthyear"]].groupby(["birthyear"])["firstname"].count()

birthyear
1997    756
1998    746
1999    756
2000    380
2001    362
Name: firstname, dtype: int64

In [7]:
# Question: How many people come from each course?
data.loc[:,["firstname","course"]].groupby(["course"])["firstname"].count()

course
BS Communications Technology Management    589
BS IT Entrepreneurship                     590
BS Legal Management                        585
BS Management                              629
BS Management Engineering                  607
Name: firstname, dtype: int64

In [8]:
# Question: How many people have numbers from Globe (0917 or 0927) and Smart (0918)?
data.loc[:,["firstname","carrier"]].groupby(["carrier"])["firstname"].count()

carrier
Globe    2045
Smart     955
Name: firstname, dtype: int64

In [19]:
# Question: How many Globe subscribers are: Male? Female?
# Question: How many Smart subscribers are: Male? Female?

Gender_Carrier = data.loc[:,["firstname", "gender", "carrier"]].groupby(["gender","carrier"])["firstname"].count()

Gender_Carrier

gender  carrier
Female  Globe       984
        Smart       494
Male    Globe      1061
        Smart       461
Name: firstname, dtype: int64

In [25]:
print(Gender_Carrier[("Male","Globe")])
print(Gender_Carrier[("Female","Globe")])
print(Gender_Carrier[("Male","Smart")])
print(Gender_Carrier[("Female","Smart")])

1061
984
461
494

In [132]:
stats = """

<html>
            <style>
                table, th, td {
                  border: 1px solid black;
                  font-family: andale mono;
                }
                th, td {
                  padding: 10px;
                  background-color: pink;
                  text-align: center;    
                }
                h2 {
                  background-color: powderblue;
                  font-family: andale mono;
                  font-size: 200%;
                  text-align: center;
                }
                
            </style>
            
    <body>
         <h2><i>Summary Statistics</i></h2>
         <table>
                 <tr>
                     <th>STATISTICS</th>
                     <th>VALUES</th>
                 </tr>
             <div class="row"><div class="col"><tr><td>People born in each month</td><td></div></div>
             
             <div class="row"><div class="col">January: 270 </p> February: 232 </p> March: 246 </p>
             April: 267 </p> May: 273 </p> June: 259 </p> July: 249 </p> August: 241 </p>
             September: 232 </p> October: 178 </p> November: 277 </p> December: 276</td></tr></div></div>
             
             <div class="row"><div class="col"><tr><td>People born on each day</td><td>1: 112, 2: 106, 3: 90, 4: 110, 5: 100, 6: 99, 7: 88, 8:111,
             9: 98, 10: 111, 11: 105, 12: 98, 13: 119, 14: 102, 15: 121, 16: 115, 17: 116, 18: 107, 19: 113, 20: 91,
             21: 123, 22: 103, 23: 116, 24: 108, 25: 116, 26: 116, 27: 102, 28: 104, 29: 0, 30: 0, 31: 0</td></tr></div></div>
             
             <div class="row"><div class="col"><tr><td>People born in each year</td><td>1997: 756 </p> 1998: 746 </p> 1999: 756 </p> 2000: 380 </p> 2001: 362</td></tr></div></div>
             
             <div class="row"><div class="col"><tr><td>People coming from each course</td><td>BS Communications Technology Management: 589 </p> BS IT Entrepreneurship: 590 </p>
             BS Legal Management: 585 </p> BS Management: 629 </p> BS Management Engineering: 607</td></tr></div></div>
             
             <div class="row"><div class="col"><tr><td>People having numbers from Globe and Smart</td><td>Globe: 2045 </p> Smart: 955</td></tr></div></div>
             
             <div class="row"><div class="col"><tr><td>Male Globe subscribers</td><td>1061</td></tr></div></div>
             
             <div class="row"><div class="col"><tr><td>Female Globe subscribers</td><td>984</td></tr></div></div>
             
             <div class="row"><div class="col"><tr><td>Male Smart subscribers</td><td>461</td></tr></div></div>
             
             <div class="row"><div class="col"><tr><td>Female Smart subscribers</td><td>494</td></tr></div></div>
         </table>
    </body>
</html>

"""

with open("stats3b.html","w+") as stats_file:
    stats_file.write(stats)